body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    color: darkgray;
    font-size: smaller;
}

h1 {
    color: magenta;
}

h2 {
    color: green;
}

h3 {

    color: darkolivegreen;
}

p {
    color: white;
    background-color: darkgreen;

}